<ion-header>
  <ion-toolbar>
    <ion-title>
      Imóveis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background:#F1F1F1">
 <ion-card style="margin-top:10px">
  <ion-card-header style="padding:0 18px">
    <ion-card-title class="title">
      <p>Casa - Santa Rita do Sapucaí</p>
      <p>Teste - Rua Maria de Lourdes Sodré de Azevedo</p>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content style="padding:0">    
    <img [src]="base64Image()"/>
  </ion-card-content>

  <ion-card-content>
    R$ 860/mês
  </ion-card-content>
 </ion-card>
</ion-content>
